# Node
node_modules/
.pnpm-store/
coverage/
dist/
.vite/
frontend-build/

# Python
__pycache__/
*.pyc
.venv/
.env

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# MacOS
.DS_Store

# Editor
.idea/
.vscode/

# Kubernetes generated manifests
*.kubeconfig
